.product-index-container {
  
  justify-content: center;
}

.product-index-category {
  font-size: 26px;
  margin-left: 50px;
  margin-top: 50px;
  font-family: sans-serif;
  font-weight: 400;
}

.product-index-ul {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
}

.product-link-container {
  display: flex;
}

.link-container {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  margin: 20px;
}

.product-label-container {
  display: flex;
  flex-direction: column;
}

.img {
  width: 225px;
  height: 150px;
  object-fit: cover;
}

.product-name {
  color: #404040;
  font-family: sans-serif;
}

.product-description {

}

.product-price {
  color: black;
  font-family: sans-serif;
}



