.drop-down-open {
  position: absolute;
  top: 24px;
  right: 90px;
}

.avatar {
  position: relative;
  color: gray;
}

.avatar p {
  font-size: 12px;
  font-family: sans-serif;
}

.avatar .fa-user-alt {
  width: 21px;
  height: 21px;
  font-size: 21px;
}

.menu {
  position: absolute;
  z-index: 10;
  right: 58px;
  margin-top: 20px;
  width: 260px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
  background-color: white;
  padding-top: 10px;
  font-family: "Roboto",
  "Droid Sans",
  "Segoe UI",
  "Helvetica",
  Arial,
  sans-serif;
}
.menu .profile-info {
  display: flex;
  align-items: center;
}

.menu a {
  margin-left: 25px;
  font-family: "Roboto",
  "Droid Sans",
  "Segoe UI",
  "Helvetica",
  Arial,
  sans-serif;
  color: #333333;
}

.menu .view-profile {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 3px;
  font-size: 13px;
}

.additional-profile-info {
  margin-left: 15px;
  margin-bottom: 8px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: left;
}

.additional-profile-info span {
  font-size: 13px;
  margin-left: 3px;
}

.menu .profile-info .fName {
  vertical-align: center;
  font-weight: 500;
  font-family: Arial,
  Helvetica,
  sans-serif;
}

.menu .profile-info .avatar {
  margin-left : 15px;
  height: 32px;
  width: 32px;
  font-size: 32px;
}

.menu .item-separator {
  border-top: solid 1px rgba(0, 0, 0, .05);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 0;
  padding-top: 0;
}

.menu .menu-item {
  margin: 10px 25px;
  margin-left: 25px;
  margin-bottom: 10px;
  margin-bottom: 10px;
}

.menu .profile-link{
  margin-left: 0;
}