.user-profile-container {
    display: flex;
    margin: 30px 18px;
    font-family: "Roboto",
    "Droid Sans",
    "Segoe UI",
    "Helvetica",
    Arial,
    sans-serif;
}

.user-profile-container .avatar {
    height: 275px;
    width: 275px;
    margin: 0 18px;
}

.user-profile-container .avatar .fa-user-alt {
    height: 275px;
    width: 275px;
    font-size: 200px;
    line-height: 275px;
    vertical-align: center;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
}

.user-profile-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 18px;
    width: 310px;
    padding-right: 18px;
}

.user-profile-info h2 {
    font-size: 26px;
    font-weight: 500px;
    margin-bottom: 6px;
}

.user-profile-info p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 12px;
}

.edit-profile-button {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    padding: 8px 12px;
    width: 100px;
}

.edit-profile-button:hover {
    border: 1px solid rgba(0, 0, 0, 0.35);
    background-color: rgba(0, 0, 0, 0.15);
}

.edit-profile-button span {
    font-size: 12px;
    margin-right: 3px;
}

.profile-about h3 {
    font-size: 18px;
}

.profile-about p {
    line-height: 20px;
    padding-top: 12px;
    font-size: 11px;
    color: #757575;
}

.more-info-container {
    display: flex;
    width: 100%;
    height: 66px;
    padding: 18px 18px 0;
    border-top: 1px solid #E1E3DF;
    border-bottom: 1px solid #E1E3DF;
}

.more-info-container button {
    width: 160px;
    padding: 1px 12px 16px;
    text-align: center;
}

.more-info-container button:hover {
    width: 160px;
    padding: 1px 12px 16px;
    border-bottom: 3px solid #575757;
}

.more-info-container button span {
    border-radius: 50%;
    margin-left: 10px;
}

.more-info-container button span:active {
    border-radius: 50%;
    background-color: #757575;
}

.more-info-container button.active {
    border-bottom: 3px solid #F56400;
    transition: border 0.1s ease out;
}